settings.py
__pycache__/
.pytest_cache
.ruff_cache
data/
.venv
.idea/
.vscode/
testing.ipynb
testing.py
saved_models
historical_odds
.env
.DS_Store
settings/user_settings.toml
**.egg-info
.benchmarks
*.log
.ipynb_checkpoints
*.ipynb